@import url('../../../css/satoshi.css');
@import url('../../../css/nyght.css');

.clockContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 35%;
    right: 3%;
    z-index: 10;

    @media (max-width: 768px) {
        top: 15%;
        font-size: clamp(0.35em, .9em, 2em);
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      top: 20%;
      right: 5%;
  }
}

.lv1{
    font-family: 'Satoshi-Black';
    font-size: 1em;
    color: #fff;
    opacity: 0.98;
    margin-top: 10px;
    margin-bottom: 0px;
    text-transform: none;
    text-align: center;
    @media (max-width: 768px) {
        
        font-size: clamp(0.35em, .9em, 2em);
    }
}

.location{
    font-family: 'Nyght Serif';
    font-weight: bold;
}
// Updated SCSS
.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  //gap: 4px; // Space between clock and disks
}

.diskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 10px; // Fine-tune spacing
}

.diskWrapper {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  
  .disk {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      border-radius: 50%;
      filter: blur(1px);

      &:nth-child(1) {
          animation: ripple 3s ease-out infinite;
          animation-delay: 0s;
          opacity: 0.8;
      }
      &:nth-child(2) {
          animation: ripple 3s ease-out infinite;
          animation-delay: 1s;
          opacity: 0.6;
      }
  }
}

@keyframes ripple {
  0% {
      transform: translateY(-50%) scale(0.8);
      opacity: 0.8;
  }
  50% {
      transform: translateY(-50%) scale(1.1);
      opacity: 0.5;
  }
  100% {
      transform: translateY(-50%) scale(0.8);
      opacity: 0.8;
  }
}

// Keep other styles the same...

.clock{
    font-family: 'Satoshi-Medium';
    font-size: 1em;
    opacity: 0.98;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: none;
    text-align: center;
    @media (max-width: 768px) {
        font-size: clamp(0.35em, 0.9em, 2em);
    }
}

@keyframes oscillate {
    0% {
      transform: scale(1); /* Initial scale (normal size) */
    }
    50% {
      transform: scale(1.5); /* Grow to 1.5 times the original size */
    }
    75% {
      transform: scale(0.5); /* Return to original size */
    }
    100% {
        transform: scale(1); /* Return to original size */
      }
  }

  @keyframes oscillate-mirror {
    0% {
      transform: scale(1); /* Initial scale (normal size) */
    }
    25% {
      transform: scale(0.5); /* Scale down to 0.5 times the original size */
    }
    50% {
      transform: scale(1.5); /* Grow to 1.5 times the original size */
    }
    75% {
      transform: scale(0.5); /* Scale down to 0.5 again */
    }
    100% {
      transform: scale(1); /* Return to original size */
    }
  }
  
  