@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Dirtyline';
  src: url('/fonts/Dirtyline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

main {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: auto; /* Ensure scrolling is enabled */
  overscroll-behavior-y: none; /* Crucial for preventing default scroll */
  touch-action: pan-y; /* Enable vertical touch scrolling */
  -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
}

/* First, style the parent container */
.infoContainer { /* or whatever your parent element's class is */
  position: relative;
  display: flex;
  flex-direction: column;
  background: transparent;
}

/* Then modify your info class */
.info {
  display: block;
  font-family: 'Satoshi-Medium';
  background: transparent;
  justify-content: center;
  align-items: center;
  margin-top: auto;  /* This will push it to the bottom */
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding: 20px 50px;
  filter: drop-shadow(0px 0px 5px rgba(80, 80, 80, 0.5));
  margin-bottom: 0; /* Ensure it sits at the bottom */
}

* {
  cursor: default; /* Set default cursor style */
}

html {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0px;
  font-family: 'Dirtyline';
  /* overflow: auto;  */

}

@media (max-width: 1024px) {
  body {
    overflow: auto;
  }
  html{
    overflow: auto;
  }
}


.projects-header {
  font-family: Dirtyline;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 20px 50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
