@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'Dirtyline';
  src: url('/fonts/Dirtyline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.main-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overscroll-behavior-y: none; /* Crucial for preventing default scroll */
}

html,
body {
  overflow: hidden;
  height: 100%;
}

.projects-header{
  font-family: Dirtyline;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 20px 50px ;
  /* margin-top: 300px */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}