.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
}

.mainBanner,
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.mainBanner {
  z-index: 5;
  background-color: #0c0c0c;
}


