@font-face {
  font-family: 'Dirtyline';
  src: url('/fonts/Dirtyline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}



.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  //pointer-events: none;

  
  .title {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    z-index: 4;
    

    h1 {
      font-family: 'Dirtyline';
      font-weight: 400;
      color: white;
      margin: 0px;
      text-align: center;
    }

    p {
      color: grey;
      margin: 0px;
      text-align: center;
      margin-top: 10px;
    }
  }

  .plane {
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 0;

    img {
      position: absolute;
      //z-index:12;
      cursor: pointer;
      pointer-events: auto; // Add this to explicitly enable pointer events on images

    
    }

    &:nth-of-type(1) {
      filter: brightness(0.90);
      z-index: 3;  
      img {
        &:nth-of-type(1) {
          left: 68%;
          top: 55%;

          @media screen and (max-width: 768px) {
            left: 68%;
            top: 80%;
          }
        }
        &:nth-of-type(2) {
          left: 30%;
          top: 55%;
        }
        &:nth-of-type(3) {
          left: 35%;
          top: 3%;
        }
      }
    }

    &:nth-of-type(2) {
      filter: brightness(0.7);
      z-index: 2;  

      img {
        &:nth-of-type(1) {
          left: 5%;
          top: 10%;
          
          @media screen and (max-width: 768px) {
            left: -35%;
            top: 20%;
          }
        }
        &:nth-of-type(2) {
          left: 65%;
          top: 5%;
          @media screen and (max-width: 768px) {
            left: 40%;
            top: 5%;
            
          }
        }
        &:nth-of-type(3) {
          left: 0%;
          top: 60%;

          @media screen and (max-width: 768px) {
            left: 65%;
            top: 60%;
          }
        }
      }
    }

    &:nth-of-type(3) {
      filter: brightness(0.6);
      z-index: 1;  

      img {
        &:nth-of-type(1) {
          left: 65%;
          top: 2.5%;
        }
        &:nth-of-type(2) {
          left: 40%;
          top: 70%;
        }
      }
    }
  }

  /* Add mobile-specific adjustments */
  @media (max-width: 768px) {
    display: flex;
    overflow: hidden;
    .plane {
      // flex: 0 0 80%;
      width: 100%; /* Planes take 60% of the screen width */
      height: 100%;
      position: relative; /* Allow planes to flow within flex container */
      
      // img {
      //   width: 10vw; /* Adjust the image dimensions for mobile */
      //   height: 15vh;
      // }
    }

    .title {
      flex: 0 0 40%; /* Title takes 40% of the screen width */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      z-index: 4;

      h1 {
        font-size: 24px; /* Adjust font sizes for better readability */
      }

      p {
        font-size: 16px;
        margin-top: 5px;
      }
    }
  }
}


