@import url('../../css/satoshi.css');
@import url('../../css/nyght.css');


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a dark background */
    will-change: transform, opacity;

}

.counter {
    font-family: "Satoshi-Black";
    opacity: 0.95;
    font-size: 18vw;
    color: white;
    opacity: .98;
    position: relative; /* To allow the positioning of the duplicates behind it */
    // animation: counter 0.2s infinite;
}


// .counter {
//     font-family: "Satoshi-Black";
//     font-size: 22vw;
//     color: white;
//     opacity: .98;
//     position: relative; /* To allow the positioning of the duplicates behind it */
// }

.percent{
    font-family: 'Nyght';
    font-weight: 900;
    font-style: italic;
    opacity: 0.95;
}

@keyframes counter{
    0%{
        opacity: 50%;
        filter: (brightness(1.1));
    }
    50%{
        opacity: 100%;
        filter: (brightness(1));
    }
    100%{
        opacity: 50%;
        filter: (brightness(1.1));
    }
    
}




